{% extends 'base.html' %}
{% load static %}
{% block privatestyles %}
    <link rel="stylesheet" href="{% static 'MainSite/scroll.css' %}" />
{% endblock privatestyles %}
{% block body %}

<div class = relative_parent style="margin-top: 5%;">
<div class="microsoft scrollcustom">
<p class="marquee" style="margin-top: 30%">
    <ul class="marquee">
        {% for announcement in announcements %}
            <li class="marquee"> {{ announcement.desc }}</li>
        {%  endfor %}
    </ul>
</p>
</div>
</div>

{% endblock body %}
